.tagContent{
background-color:#FF6060;
color:white;
font-weight: bold;
width: auto;
height:25px;

display:flex;
justify-content:center;
align-items:center;
border-radius:10px;
padding-left: 15px;
padding-right: 15px;
}

@media screen and (max-width: 375px) {
    .tagContent{
        font-size: 10px;
        height: 18px;
        border-radius: 5px;
    }
}