$red: #ff6060;
.layerDiv{
    display: flex;
   justify-content: center;
.upArrow{
    padding-right: 2rem;
    transform: rotate(180deg) 1s;
}
.downArrow{
    padding-right: 2rem;
    transform: rotate(-180deg)1s ;
}


  .Layer {
    width: 582px;

  }
 

  .arrow {
margin-right: 2rem;
  }
  .title {
     border-radius: 5px;
    background-color: $red;
    color: white;
    width: 582px;
    height: 52px;
    font-size: 18px;
    font-weight: bold;
    line-height: 142.6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .titleContent {
    padding-left: 15px;
  }
  .content {
    flex-direction: column;
  }
}