$red: #ff6060;
.layerDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .upArrow {
    padding-right: 2rem;
    transform: rotate(180deg) 1s;
  }
  .downArrow {
    padding-right: 2rem;
    transform: rotate(-180deg) 1s;
  }

  .Layer {
    width: 582px;
  }

  .arrow {
    margin-right: 2rem;
  }
  .title {
    border-radius: 5px;
    background-color: $red;
    color: white;
    width: 582px;
    height: 52px;
    font-size: 18px;
    font-weight: bold;
    line-height: 142.6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .titleContent {
    padding-left: 15px;
    font-size: 24px;
  }
  .content {
    flex-direction: column;
    width: 582px;
    padding-inline: 0;
    padding-inline-end: 0;
    background-color: #f6f6f6;
    margin-block: 0;
    padding-block: 1em;
    font-size: 18px;
  }
}
@media screen and (max-width: 375px) {
  .layerDiv {
    .Layer {
      width: 335px;
      height: 30px;
    }
    .title {
      width: 335px;
      height: 30px;
      font-size: 13px;
    }
    .titleContent{
      font-size: 13px;
    }
    .content {
      width: 335px;
      font-size: 12px;
    }
  }
}
