.carousselDiv{

    display: flex;
    position: relative;

.leftArrow{
    position: absolute;
    z-index: 1;
    width: 5rem;
    height: 5rem;
    left:2rem;
   top:50%;
   transform: translateY(-50%);
}
.appartImg {
    width: 1240px;
    height: 415px;
  }
.rightArrow{
    position: absolute;
    z-index: 1;
    width: 5rem;
    height: 5rem;
    right:2rem;
    top:50%;
    transform: translateY(-50%);
}
}
@media screen and (max-width: 375px) {
    .carousselDiv{
        .appartImg{
            width: 335px;
            height: 255px;
        }
        .leftArrow{
            width: 24px;
            height: 24px;
        }
        .rightArrow{
            width: 24px;
            height: 24px;
        }
    }
}