.body{
    margin-left:100px;
    margin-right:100px;

display:flex;
flex-direction: column;
    width:1240px; 
    border:solid green;
.pageHeader{
   border:solid;
    position: relative;
    width: auto ;
    height: 223px;
    width:1240px;




.imgHeader1{
    top:5px;
    position:absolute;

    width: 1240px;
    height: 223px;
    object-fit: cover;
    opacity: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}
.headerMessage{
    position:absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: bold;
    line-height: 68.45px;
    color:white;

    width: 1240px;
    height: 223px;
text-wrap: nowrap;
display:flex;
justify-content: center;
align-items: center;
background-color: rgba(0, 0, 0, 0.5); 

}
}


    
    
    
.mainDiv{
    margin-top: 2rem;
    padding:2rem;
    justify-content: space-between;

    border:solid;
    display: flex;
    gap:auto;
    flex-wrap: wrap;
    row-gap: 2rem;



    background-color: #F6F6F6;
    
  
   
  
    .appart{
        border:solid;
        display:flex;
        flex-direction: column;
        align-items: center;
        background-color:#FF6060;
        width: 340px;
        height: 340px;
        
        .appartImg{
            width: 90%;
            height: 80%;
            padding:1rem;
   
        }
        .appartTitle{

        }
    
    }
}
}