.mainFooter{
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    
  

}

.textContent{
    font-weight: 500;
    font-size: 24px;
    line-height: 34.22px;
    color:white;

}