
.appartTitle{
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
}
.proprioDiv{
    position:relative;
    right:-60rem;

    display: flex;
    align-items: center;

}
.proprioName{
    color:#FF6060;
}
.imgProprio{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.tags{
    display: flex;
    gap:15px;
    justify-content: flex-start;
    align-items: center;
}
.tagContent{

}