
.contain {
    margin-left: 100px;
    margin-right: 100px;
 
    width: 1240px;

.info{
position:relative;
.appartTitle{
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
    text-wrap: wrap;
    width: 65%;
}
.proprioDiv{
    width: 167px;
    height: 64px;
    position: absolute;
    top: 24px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  

}

.proprioName{
    display: flex;
    align-items: center;
    color:#FF6060;
    width: 93px;
    height: 52px;
}
.imgProprio{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.starTag{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
.tagContainer{
    display: flex;
    gap:15px;
    justify-content: space-between;
    align-items: center;
}
.tagContent{

}
.starDiv{
 
    top:687px;
    left: 1144px;
width: 196px;
height: 36px;
}
}
.bottom {
    margin-top: 2rem;
    margin-bottom: 3rem;
    border: solid orange;

    display: flex;
    justify-content: space-between;

    width: 100%;


  }
}
}