.contain {
  margin-left: 100px;
  margin-right: 100px;

  width: 1240px;

  .info {
    position: relative;
    .appartTitle {
      font-size: 36px;
      font-weight: 500;
      color: #ff6060;
      text-wrap: wrap;
      width: 65%;
    }
    .proprioDiv {
      width: 167px;
      height: 64px;
      position: absolute;
      top: 24px;
      right: 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .proprioName {
      display: flex;
      align-items: center;
      color: #ff6060;
      width: 93px;
      height: 52px;
    }
    .imgProprio {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
    .starTag {
      display: flex;
      justify-content: space-between;
      padding-top: 24px;
      .tagContainer {
        display: flex;
        gap: 15px;
        justify-content: space-between;
        align-items: center;
      }

      .starDiv {
        top: 687px;
        left: 1144px;
        width: 196px;
        height: 36px;
      }
    }
    .bottom {
      margin-top: 2rem;
      margin-bottom: 3rem;
      border: solid orange;

      display: flex;
      justify-content: space-between;

      width: 100%;
    }
  }
}

@media screen and (max-width: 375px) {
  .contain {
    width: 375px;
    margin-left: 20px;
   
    border: solid;
    .info {
      .appartTitle {
        font-size: 18px;
      }
      .appartLocation {
        font-size: 14px;
      }
      .proprioDiv {
        width: 135.5px;
        height: 33px;
        gap: 10.5px;
        right: 20px;
      }
      .imgProprio {
        width: 32px;
        height: 32px;
      }
      .starTag {
        padding-left: 0;
        flex-direction: column;
        gap: 27px;

        .tagContainer {
        }
        .starDiv {
          display: flex;
          width: 98px;
          height: 18px;

          svg {
            height: 18px;
            width: 18px;
          }
        }
      }
      .proprioName {
        font-size: 12px;
        justify-content: flex-end;
      }
      .bottom {
        flex-direction: column;
        height: 80px;
        align-items: flex-start;
      }
    }
  }
}
