.errorDiv {
  margin-top: 94px;
  display: flex;
  flex-direction: column;
  gap: 139px;
  align-items: center;
  .errorNumber {
    color: #ff6060;

    font-size: 288px;
    line-height: 142.6%;
    width: 597px;
    height: 263px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .errorMessage {
    font-size: 36px;
    color: #ff6060;
    line-height: 142.6%;
  }
  .link {
    font-size: 18px;
    color: black;
    line-height: 142.6%;
    margin-bottom: 139px;
    text-decoration: underline;
  }
}
